extends ../../common/sections/how-to-use

block how-to-use-item 
    +how-to-use-item()
    +how-to-use-item()
    +how-to-use-item()
    +how-to-use-item()

block how-to-use-button
    form
        input.how-to-use__button(type="submit", value="Инструкция и состав") 