section.product-filter.fullscreen-card.fullscreen-card_blue 
    .fullscreen-card__column.product-filter__column
        img(src="img/filters.jpg", alt="#")
    .fullscreen-card__column.product-filter__column
        .product-filter__body
            .product-filter__heading Сменные фильтры
            .product-filter__desctiption 
                .product-filter__item Гигиенический фильтр NoseFrida® на 100% защищает от заражения*.
                .product-filter__item_big.product-filter__item 1 процедура — 1 фильтр
                .product-filter__item Сменные гигиенические фильтры продаются отдельно.
            .product-filter__small-description * По данным исследования, проведенного в Университетской клинике в Мальмё (Швеция). Клинический тест материала, взятого у мундштука, показал отсутствие бактерий в 12 из 12 случаев.