include ../../bem-blocks/products-group

-
	var title = "Продукты аптечки малыша"
	var description = "Must have для супер–мам"

	var products = [
		{
			link: "/windi.html",
			imgSrc: "img/windi_small.jpg",
			name: "Windi",
			text: "Газоотводная трубочка для новорожденных",
		},
		{
			link: "/nosefrida.html",
			imgSrc: "img/nosefrida_small.jpg",
			name: "Nosefrida",
			text: "Детский назальный аспиратор",
		}
	]

+products-group(title, description, products)


