mixin breadcrumb__link
    .breadcrumb__link
        a(href="#").menu-link Главная 

.breadcrumb
    .container
        .breadcrumb__links 
            +breadcrumb__link
            +breadcrumb__link
            +breadcrumb__link
