mixin breadcrumb__link
    .breadcrumb__link
        a(href="#") Главная 

.breadcrumb
    .container
        .breadcrumb__links 
            +breadcrumb__link
            +breadcrumb__link
            +breadcrumb__link
