include ../../bem-blocks/about-product

-
	var color = `green`
	var imageSrc = `img/dentinale_product.png`
	var imageLink = `dentinale-natura.html`

	var menuLinks = [
		{
			href: `#`,
			text: `О продукте`
		},
		{
			href: `#`,
			text: `Как использовать`
		},
		{
			href: `#`,
			text: `Симптомы`
		},
		{
			href: `#`,
			text: `О бренде`
		},
	]

	var leftAdvantages = [
		{
			title: `Безвреден<br> при проглатывании`,
			icon: `img/icon-about-product-1.svg`,
			text: `Производится известной фармацевтической компанией Montefarmaco OTC.`
		},
		{
			title: `Имеет приятный вкус`,
			icon: `img/icon-about-product-1.svg`,
			text: `Производится известной фармацевтической компанией Montefarmaco OTC.`
		},
		{
			title: `Натуральные экстракты`,
			icon: `img/icon-about-product-1.svg`,
			text: `Производится известной фармацевтической компанией Montefarmaco OTC.`
		},
	]

	var rightAdvantages = [
		{
			title: `Без ликодина, сахара и парабенов`,
			icon: `img/icon-about-product-1.svg`,
			text: `Производится известной фармацевтической компанией Montefarmaco OTC.`
		},
		{
			title: `Двойной объем - 20мл`,
			icon: `img/icon-about-product-1.svg`,
			text: `Производится известной фармацевтической компанией Montefarmaco OTC.`
		},
		{
			title: `Сделано в Италии`,
			icon: `img/icon-about-product-1.svg`,
			text: `Производится известной фармацевтической компанией Montefarmaco OTC.`
		},
	]

+about-product(color, imageSrc, imageLink, menuLinks, leftAdvantages, rightAdvatanges)
