include ../../bem-blocks/how-to-use

-
	var title = "Как использовать?"
	var description = "Процедура не требует от мам специального опыта использования"

	var items = [
		{
			imageSrc: "img/vidavit_2.svg",
			text: "Выдавить гель на кончик чистого пальца"
		},
		{
			imageSrc: "img/vidavit_2.svg",
			text: "Выдавить гель на кончик чистого пальца"
		},
		{
			imageSrc: "img/vidavit_2.svg",
			text: "Произвольный текст"
		},
		{
			imageSrc: "img/vidavit_2.svg",
			text: "Произвольный текст"
		},
	]

	var button = {
		value: "Инструкция и состав",
	}

+how-to-use(title, description, items, button)
