.landing
	img.landing__image(src=`img/landing-dentinale.jpg`, alt="")
	.container.landing__container
		.landing__body
			h1.landing__item Первая помощь<br> для малыша
			h2.landing__item При коликах, заложенности носа и прорезывании зубов
			form.landing__item(action="#")
				input.about-button(type="submit" value="Смотреть видео")
