extends ../../common/sections/symptoms

block symptoms-image
    img(src="img/simptomi_dentinale.jpg", alt="")
block symptoms
    +symptom("Набухание и покраснение десен")
    +symptom("Набухание и покраснение десен")
    +symptom("Набухание и покраснение десен")
    +symptom("Набухание и покраснение десен")


block symptoms-section
    +symptoms('fullscreen-card_blue symptoms_rows_4')