extends ../../common/sections/landing

block landing-image
        +landing-image("img/landing-windi.jpg")

block landing-description
        +landing-description("Первая помощь для малыша", "При коликах, заложенности носа и прорезывании зубов.")