extends ../common/layout

block content
	.page
		.page__contacts
			include ../includes/contacts/heading
			include ../includes/contacts/fullscreen-card
			include ../includes/contacts/fullscreen-form
