extends ../common/layout

block content
	.page
		.page__dentinale-natura
			include ../includes/dentinale/landing
			include ../includes/dentinale/about-product
			include ../includes/dentinale/how-to-use
			include ../includes/dentinale/popup
			include ../includes/dentinale/tooth
			include ../includes/dentinale/fullscreen-card
			include ../includes/dentinale/about-brand
			include ../includes/dentinale/products-group
			include ../includes/dentinale/fullscreen-form
