extends ../common/layout

block content
	.page
		.page__index
			include ../includes/index/landing
			include ../includes/index/product
			include ../includes/index/slider-super-mom
			include ../includes/index/fullscreen-form
