extends ../common/layout

block content
	.page.page_need-padding
		.page__mamam
			include ../includes/mamam/breadcrumbs
			include ../includes/mamam/content-nav
			include ../includes/mamam/products-group
			include ../includes/mamam/fullscreen-form
