extends ../common/layout

block content
	.page
		.page__nosefrida
			include ../includes/nosefrida/landing
			include ../includes/nosefrida/about-product
			include ../includes/nosefrida/how-to-use
			include ../includes/nosefrida/popup
			include ../includes/nosefrida/fullscreen-card
			include ../includes/nosefrida/about-brand
			include ../includes/nosefrida/products-group
			include ../includes/nosefrida/fullscreen-form
