extends ../common/layout

block content
	.page
		.page__windi
			include ../includes/windi/landing
			include ../includes/windi/about-product
			include ../includes/windi/how-to-use
			include ../includes/windi/popup
			include ../includes/windi/fullscreen-card
			include ../includes/windi/about-brand
			include ../includes/windi/products-group
			include ../includes/windi/fullscreen-form
