.fullscreen-form.fullscreen-form_blue.fullscreen-form_margin
	.fullscreen-form__column.fullscreen-form__column-content
		form.fullscreen-form__body(action='#' method='POST')
			.fullscreen-form__header
				.fullscreen-form__heading Подписаться на рассылку
			.fullscreen-form__wrapper
				.fullscreen-form__item.fullscreen-form__item_border.fullscreen-form__item_big
					input(type="text" placeholder="Ваше имя")
				.fullscreen-form__item.fullscreen-form__item_border.fullscreen-form__item_big
					input(type="text" placeholder="День рождения малыша")
				.fullscreen-form__item.fullscreen-form__item_border.fullscreen-form__item_big
					input(type="text" placeholder="Email")
				.fullscreen-form__item
					input.about-button.about-button_hover_blue.about-button_white.fullscreen-form__button(type="submit" value="Подписаться")
				.fullscreen-form__item
					.fullscreen-form__agree-text Отправляя сообщение, вы даёте #[a.fullscreen-form__agree-link.menu-link(href="#") согласие] на обработку персональных данных.
	.fullscreen-form__column.fullscreen-form__column-image
		img.fullscreen-form__image.fullscreen-image(src="img/zadat_vopros.jpg" alt='#')

