.product-wrapper
	.product.product_green.product-wrapper__product(data-aos="fade-up")
		.container
			.product__body
				a(href="#").parallax-scene.product__parallax-scene
					img.product__image(src="img/dentinale_product.png" alt="#" data-depth="0.6")
				.product-card.product__product-card(data-aos="flip-right")
					.product-card__body.product__product-card-body
						.product-card__heading При прорезывании зубов
						.product-card__name Dentinale natura
						.product-card__description Детский гель для легкого прорезывания зубов.Без анальгетиков и анастетиков
						form(action="#")
							input.about-button.product__about-button.about-button_hover_blue.about-button_green(type="submit" value="Подробнее")

	.product.product_blue.product-wrapper__product.product-wrapper__product_margin(data-aos="fade-up")
		.container
			.product__body
				a(href="#").parallax-scene.product__parallax-scene
					img.product__image(src="img/windi_product.png" alt="#" data-depth="0.6")
				.product-card.product__product-card(data-aos="flip-right")
					.product-card__body.product__product-card-body
						.product-card__heading При коликах
						.product-card__name Windi
						.product-card__description Газоотводная трубочка для скорой помощи при коликах у новорождённых.
						form(action="#")
							input.about-button.product__about-button.about-button_hover_blue.about-button_blue(type="submit" value="Подробнее")

	.product.product_pink.product-wrapper__product(data-aos="fade-up")
		.container
			.product__body
				a(href="#").parallax-scene.product__parallax-scene
					img.product__image(src="img/nosefrida_product.png" alt="#" data-depth="0.6")
				.product-card.product__product-card(data-aos="flip-right")
					.product-card__body.product__product-card-body
						.product-card__heading При заложенности носа
						.product-card__name NoseFrida
						.product-card__description Назальный аспиратор для свободного дыхания малыша с первых дней жизни.
						form(action="#")
							input.about-button.product__about-button.about-button_hover_blue.about-button_pink(type="submit" value="Подробнее")




