extends ../../common/sections/fullscreen-form

block variables
	- var modif_color = "fullscreen-form_silver"
	- var heading = "Задать вопрос"
	- var text = ""
	- var is_need_date = false
	- var is_need_question = true
	- var button_color = "smoke"
	- var submit_placeholder = "Задать вопрос"
	- var image_src = "img/zadat_vopros.jpg"
	- var is_reverse_order = true


