.contacts {
	color: $dark-blue;
	padding: 150px 0 0 0;

	&__heading {
	}

	&__body {
	}

	&__column-info {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__map {
		.contacts-info {
			max-width: 480px;

			&__social-icons {
				img {
					width: 40px;
					height: 40px;
				}
			}
		}

		@media (max-width: 1200px) {
			flex-direction: column;
			justify-content: center;
		}
	}

	&__form {
	}
}

.contacts-info {
	&__telephone {
		font-size: 38px;
		font-weight: 700;

		a {
			color: $dark-blue;
		}
	}

	&__body {
		margin: 40px 0;
		font-size: 18px;
	}

	&__text {
		line-height: 27.9px;
		margin: 0 0 40px 0;
	}

	&__adress {
		margin: 0 0 40px 0;
	}

	&__time {
		font-size: 14px;
		margin: 5px 0 0 0;
	}

	&__email {
		a {
			color: $dark-blue;
		}

		text-decoration: underline;
	}
}

