.fade-out-tab {
	color: $dark-blue;
	padding: 150px 20px 0 20px;

	&__section {
		transition: all 1s ease;
		height: 0;
		visibility: hidden;
		opacity: 0;
		transform: translateY(100%);

		&_active {
			height: auto;
			visibility: visible;
			transform: translateY(0);
			opacity: 1;
		}
	}

	&__items {
		margin: 0 0 30px 0;
	}

	&__heading {
		text-align: center;
		font-weight: 700;

		&_small {
			font-size: 24px;
			margin: 0 0 50px 0;
		}
	}

	&__menu {
	}

	&__body {
		margin: 60px 0 0 0;
		overflow: hidden;
	}

	&__ask {
	}

	&__items-wrapper {
		display: flex;
		flex-wrap: wrap;
		margin: -30px -30px;

		.fade-out-tab-item {
			padding: 30px;

			img {
				margin: 0 auto;
				object-fit: cover;
				transition: opacity 0.3s ease;
				display: block;

				&:hover {
					opacity: 0.5;
				}
			}
		}

		@media (max-width: 1260px) {
			margin: 0;

			.fade-out-tab-item {
				flex: 0 1 calc(100% / 3);
				padding: 20px;
			}

		}

		@media (max-width: 750px) {
			.fade-out-tab-item {
				flex: 0 1 calc(100% / 2);
				padding: 10px;
			}
		}

		&_column-6 {
			> * {
				flex: 0 1 calc(100% / 6);
			}
		}

		&_column-4 {
			> * {
				flex: 0 1 calc(100% / 4);
			}
		}
	}

	&__bottom-text {
		font-size: 22px;
		font-weight: 700;
		text-align: center;
	}
}

.fade-out-tab-menu {
	display: flex;
	padding: 0;
	margin: 50px 0 0 0;
	list-style-type: none;
	border-radius: 30px;
	overflow: hidden;

	@media (max-width: 1200px) {
		flex-direction: column;

		.fade-out-tab-menu__link {
			margin: 0 0 0 0;
		}
	}

	&__link {
		color: $dark-blue;
		font-size: 14px;
		font-weight: 400;
		cursor: pointer;
		transition: background-color 0.3s ease;

		&_clicked {
			cursor: default;
			background-color: $windi-color;
			font-weight: 700;
		}

		flex: 0 1 calc(100% / 3);
		text-align: center;
		padding: 20px 20px;
		background-color: #f7f7f7;
	}
}
