.about-button {
	color: white;
	background-color: $dark-blue;
	cursor: pointer;
	letter-spacing: 1.2px;
	display: inline-block;
	font-size: 14px;
	padding: 20px 60px;
	border-radius: 100px;
	border: none;
	transition: all 0.3s ease;

	&:hover {
		color: $dark-blue;
		background-color: white;
	}

	&_white {
		background-color: white;
		color: $dark-blue;
	}

	&_smoke {
		background-color: #b9e2f7;
		color: $dark-blue;
	}

	&_green {
		color: $dark-blue;
		background-color: $dentinale-color;
	}

	&_blue {
		color: $dark-blue;
		background-color: $windi-color;
	}

	&_pink {
		color: $dark-blue;
		background-color: $nosefrida-color;
	}

	&_hover_blue {
		&:hover {
			background-color: $dark-blue;
			color: white;
		}
	}
}
