.fullscreen-card {
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
	min-height: 600px;
	display: flex;

	&__column {
		flex: 0 1 50%;

		&_centred_vertically {
			display: flex;
			align-items: center;
		}

		&_centred {
			display: flex;
			align-items: center;
			justify-content: center;
		}

		@media(max-width: 1690px) {
			min-height: 400px;
			flex: 0 1 auto;
		}
	}

	&__map {
		@media(max-width: 1690px) {
			max-height: 400px;
		}
	}

	&__symptoms {
		padding: 20px 0;
		margin-left: 50px;
		flex: 1;

		@media(max-width: 1690px) {
			margin-left: 0;
		}
	}

	&__contacts {
		max-width: 600px;
	}

	&_blue {
		background-color: $windi-color;
	}

	&_pink {
		background-color: $nosefrida-color;
	}

	&_green {
		background-color: $dentinale-color;
	}

	&_silver {
		background-color: #f7f7f7;
	}

	&_reversed {
		flex-direction: row-reverse;
	}

	&_margin {
		margin: 100px 0;
	}

	@media (max-width: 1690px) {
		flex-direction: column;
	}
}
