.menu-link {
	color: $dark-blue;
	transition: color 0.3s ease;

	&:hover {
		color: #516dd1;
	}

	&_underline {
		font-weight: 500;

		&::after {
			display: block;
			content: "";
			border-bottom: solid 3px $dark-blue;
			transform: scaleX(0);
			transition: transform 250ms ease-in-out;
		}

		&:hover::after {
			transform: scaleX(1);
		}

		&:hover {
			color: $dark-blue;
		}
	}
}
