extends common/layout

block content
  include extends/landing/dentinale-natura
  include extends/about-product/dentinale-natura
  include extends/how-to-use/dentinale-natura
  include common/sections/tooth
  include extends/symptoms/dentinale-natura
  