extends common/layout

block content
  include extends/landing/main
  include extends/product/dentinale-natura
  include extends/product/windi
  include extends/product/nosefrida
  include common/sections/slider-super-mom-choose
  include common/sections/fullscreen-form
