extends common/layout

block content
  include extends/landing/nosefrida
  include extends/about-product/nosefrida
  include common/sections/product-filter
  include extends/how-to-use/nosefrida
  include extends/symptoms/nosefrida
  include extends/about-brand/nosefrida
  include extends/products-group/nosefrida
  
  include common/sections/form-subscribe
  