extends common/layout

block content
  include extends/landing/windi
  include extends/about-product/windi
  include extends/how-to-use/windi
  include extends/symptoms/windi
  include extends/about-brand/windi
  include extends/products-group/windi
  include common/sections/fullscreen-form
