include ../../bem-blocks/about-brand

-
	var title = "О бренде в мире"
	var imageSrc = "img/logo_windi.svg"

	var texts = [
		{
			bold: "Dentinale® natura – итальянский бренд, представленный на европейском рынке с 2011 года.",
			content: "\
			Детский гель для десен при прорезывании зубов Dentinale® natura производится в Италии известной фармацевтической \
			компанией Montefarmaco OTC.\
			Гель при прорезывании зубов Dentinale® natura зарегистрирован в Департаменте профилактики заболеваний \
			и государственного санитарно-эпидемиологического надзора, соответствует директивам ЕС\
			и Техническому регламенту Таможенного союза ТР ТС (009/2011)."
		},
		{
			bold: "Dentinale® natura – итальянский бренд, представленный на европейском рынке с 2011 года.",
			content: "\
			Детский гель для десен при прорезывании зубов Dentinale® natura производится в Италии известной фармацевтической \
			компанией Montefarmaco OTC.\
			Гель при прорезывании зубов Dentinale® natura зарегистрирован в Департаменте профилактики заболеваний \
			и государственного санитарно-эпидемиологического надзора, соответствует директивам ЕС\
			и Техническому регламенту Таможенного союза ТР ТС (009/2011)."
		}
	]

+about-brand(title, imageSrc, texts)

