include ../../bem-blocks/popup
-
	var title = `Тайтл попапа`
	var texts = [
		{
			content: "небольшое количество геля следует выдавить на кончик чистого пальца и нанести массирующими движениями на десны ребенка \
			При необходимости гель можно наносить повторно 3−5 раз в день. В течение 20−30 минут \
			после нанесения геля не рекомендуется употребление пищи или жидкости, во избежание преждевременного удаления геля с десен",
			title: "Способ применения 1:"
		},
		{
			content: "небольшое количество геля следует выдавить на кончик чистого пальца и нанести массирующими движениями на десны ребенка \
			При необходимости гель можно наносить повторно 3−5 раз в день. В течение 20−30 минут \
			после нанесения геля не рекомендуется употребление пищи или жидкости, во избежание преждевременного удаления геля с десен",
			title: "Способ применения 2:"
		},

	]

+popup(title, texts)
