include ../../bem-blocks/content-nav
-
	var title = "Мамам"
	var description = "Вы супер-мама!<br> \
	Материнство – огромная радость и большая ответственность, которые мы хотим разделить с вами.<br>\
	Рассказывайте о наших продуктах, получайте новостную рассылку и участвуйте в конкурсах\
	<br>Аптечка малыша любит дарить подарки."

	var linkCards = [
		{
			title: "Статьи",
			text: "Полезная информация об уходе и развитии детей первого года"
		},
		{
			title: "Статьи",
			text: "Полезная информация об уходе и развитии детей первого года"
		},
		{
			title: "Статьи",
			text: "Полезная информация об уходе и развитии детей первого года"
		},
	]

	var chatbotText = {
		bold: "Секретный чат для Супер Мам и Пап",
		normal: "Игры, конкурсы, подарки"
	}

+content-nav(title, description, linkCards, chatbotText)
