extends ../../common/sections/products-group

block products-group__body
    +products-group__product("windi.html", "img/windi_small.jpg", "Windi", "Газоотводная трубочка для новорожденных")
    +products-group__product("nosefrida.html", "img/nosefrida_small.jpg", "NoseFrida", "Детский назальный аспиратор")
    