extends ../../common/sections/product

block product-section
    - var product_link = "windi.html"
    - var product_image = "img/dentinale_product.png"
    +product-section("product_blue")

block product-image
    +product-image(product_link, product_image) 
block product-heading
    | при прорезании зубов
block product-name
    | Dentinale natura ®
block product-description
    | Детский гель для легкого прорезывания зубов. Без анальгетиков и анестетиков.
block product-submit
    +product-submit(product_link) 



                    