mixin about-brand__text(bold, text)
    .about-brand__text
        span=bold
        | !{' '}
        span=text


section.about-brand
    .container.about-brand__container 
        .heading.about-brand__header О бренде в мире
        .about-brand__body
            .about-brand__column-image
                block about-brand-image 
                    img(src="", alt="")
            .about-brand__column-content
                block about-brand-text
                    +about-brand__text("Dentinale® natura – итальянский бренд, представленный на европейском рынке с 2011 года.", "Детский гель для десен при прорезывании зубов Dentinale® natura производится в Италии известной фармацевтической компанией Montefarmaco OTC. Гель при прорезывании зубов Dentinale® natura зарегистрирован в Департаменте профилактики заболеваний и государственного санитарно-эпидемиологического надзора, соответствует директивам ЕС и Техническому регламенту Таможенного союза ТР ТС (009/2011).")
                    +about-brand__text("Montefarmaco OTC – это семейная фармацевтическая компания, основанная Джованни Коломбо в 1945 году.", "С момента основания компания отличается стремлением к инновациям и предлагает новые решения для поддержания здоровья, которые отвечают высоким стандартам качества. Сегодня компания Montefarmaco OTC предлагает широкий ассортимент лекарственных препаратов, медицинских изделий и продуктов для поддержания здоровья и хорошего самочувствия для взрослых и детей.")
