mixin icon
    img(src="img/vk.svg", alt="")
section.contacts
    .contacts__heading.heading Контакты
    .contacts__body
        .fullscreen-card.fullscreen-card_blue.contacts__map
            .fullscreen-card__column.contacts__column-info
                .contacts__info.contacts-info
                    .contacts-info__header
                        .contacts-info__telephone
                            a(href="tel:+74957878773") +7 (495) 787-87-73
                        .contacts-info__time Пн-Пт, 10:00–17:00 МСК
                    .contacts-info__body
                        .contacts-info__text <b>ООО «Премьер Нутришинал»</b> — официальный дистрибутор в РФ, странах СНГ, Балтии и Украине.
                        .contacts-info__adress Москва, Кутузовский проспект, 36с41
                        .contacts-info__email
                            a(href="mail:info@aptechka4kids.com") info@aptechka4kids.com
                    .contacts-info__footer
                        .contacts-info__social-icons
                            +icon
                            +icon
                            +icon
                            +icon
                            +icon
            .fullscreen-card__column
                //<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A2ba055e4b1a5e6740734846e9591ee367272cdd9c700f99ac58f4ac0aceabfdb&amp;width=100%25&amp;height=100%&amp;lang=ru_RU&amp;scroll=false"></script>
