mixin instruction-popup__text(heading, text)
    .instruction-popup__text 
        span.instruction-popup__heading=heading
        | !{' '} 
        span.instruction-popup__text=text



section.instruction-popup.popup 
    .instruction-popup__container.container 
        .popup__action-close
        .instruction-popup__body
            .instruction-popup__body-heading Инструкция
            .instruction-popup__content
                +instruction-popup__text("Способ применения", "небольшое количество геля следует выдавить на кончик чистого пальца и нанести массирующими движениями на десны ребенка. При необходимости гель можно наносить повторно 3−5 раз в день. В течение 20−30 минут после нанесения геля не рекомендуется употребление пищи или жидкости, во избежание преждевременного удаления геля с десен.")
                +instruction-popup__text("Способ применения", "небольшое количество геля следует выдавить на кончик чистого пальца и нанести массирующими движениями на десны ребенка. При необходимости гель можно наносить повторно 3−5 раз в день. В течение 20−30 минут после нанесения геля не рекомендуется употребление пищи или жидкости, во избежание преждевременного удаления геля с десен.")
                +instruction-popup__text("Способ применения", "небольшое количество геля следует выдавить на кончик чистого пальца и нанести массирующими движениями на десны ребенка. При необходимости гель можно наносить повторно 3−5 раз в день. В течение 20−30 минут после нанесения геля не рекомендуется употребление пищи или жидкости, во избежание преждевременного удаления геля с десен.")
                +instruction-popup__text("Способ применения", "небольшое количество геля следует выдавить на кончик чистого пальца и нанести массирующими движениями на десны ребенка. При необходимости гель можно наносить повторно 3−5 раз в день. В течение 20−30 минут после нанесения геля не рекомендуется употребление пищи или жидкости, во избежание преждевременного удаления геля с десен.")
                +instruction-popup__text("Способ применения", "небольшое количество геля следует выдавить на кончик чистого пальца и нанести массирующими движениями на десны ребенка. При необходимости гель можно наносить повторно 3−5 раз в день. В течение 20−30 минут после нанесения геля не рекомендуется употребление пищи или жидкости, во избежание преждевременного удаления геля с десен.")
                +instruction-popup__text("Способ применения", "небольшое количество геля следует выдавить на кончик чистого пальца и нанести массирующими движениями на десны ребенка. При необходимости гель можно наносить повторно 3−5 раз в день. В течение 20−30 минут после нанесения геля не рекомендуется употребление пищи или жидкости, во избежание преждевременного удаления геля с десен.")
                +instruction-popup__text("Способ применения", "небольшое количество геля следует выдавить на кончик чистого пальца и нанести массирующими движениями на десны ребенка. При необходимости гель можно наносить повторно 3−5 раз в день. В течение 20−30 минут после нанесения геля не рекомендуется употребление пищи или жидкости, во избежание преждевременного удаления геля с десен.")
                    

