mixin landing-description(product_name, product_description)
  h1.landing__item= product_name
  h2.landing__item= product_description
  form.landing__item(action="#")
    input.about-button(type="submit" value="Смотреть видео")

mixin landing-image(src)
  img.landing__image(src=src, alt="")


section.landing.landing_main
  block landing-image 
    +landing-image("img/landing-main.jpg")
  .container.landing__container
    .landing__body 
      block landing-description
        +landing-description("Название продукта", "Описание продукта")
