mixin link-card 
    .mama__link-card.link-card
        a(href="#") 
            img.link-card__image(src="img/baby.jpg", alt="")
        .link-card__body
            .link-card__heading Статьи
            .link-card__text Полезная информация об уходе и развитии
            form(action="#").link-card__button
                input.about-button(type="submit" value="Подробнее") 

section.mama 
    .container
        .mama__heading.heading Мамам
        .mama__text
            |Вы супер-мама!
            br
            |Материнство – огромная радость и большая ответственность, которые мы хотим разделить с вами. 
            br
            |Рассказывайте о наших продуктах, получайте новостную рассылку и участвуйте в конкурсах.
            br
            |Аптечка малыша любит дарить подарки.
        .mama__chatbot.chatbot
            .chatbot__text.chatbot__text_bold Секретный чат для Супер Мам и Пап 
            form(action="#").chatbot__button
                input.about-button(type="submit", value="Вступить")
            .chatbot__text Игры, конкуры, подарки
        .mama__links
            +link-card
            +link-card
            +link-card 
        
