mixin product-image(link, image_src)
    a(href=link)
        img.product__image(src=image_src alt="#")

mixin product-submit(link) 
    form(action=link)
        input.about-button.product__about-button(type="submit" value="Подробнее")
        
mixin product-section(color) 
    section.product(data-aos="fade-up" class=color)
        .container
            .product__body
                block product-image
                    +product-image("#", "img/dentinale_product.png") 
                .product-card.product__card(data-aos="flip-right")
                    .product-card__body 
                        .product-card__heading
                            block product-heading
                                | Заголовок продукта
                        .product-card__name
                            block product-name 
                                | Название продукта
                        .product-card__description
                            block product-description
                                | Описание продукта
                        block product-submit 
                            +product-submit("#")


block product-section
    +product-section("product_pink")