mixin symptom(text) 
    .symptoms__symptom.symptom 
        .symptoms__image 
            img(src="img/nabuhanie_desen.svg", alt="")
        .symptom__text= text 


mixin symptoms(custom_class)
    section.symptoms.fullscreen-card(class=custom_class)
        .fullscreen-card__column.symptoms__column
            block symptoms-image
                img(src="img/simptomi_dentinale.jpg", alt="")
        .fullscreen-card__column.symptoms__column
            .symptoms__wrapper
                .symptoms__header Симптомы
                .symptoms__body 
                    block symptoms
                        +symptom("Набухание и покраснение десен")
                        +symptom("Набухание и покраснение десен")
                    


block symptoms-section 
    +symptoms("green")
                


